html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/* header */
body{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color:#6b6969;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}
.top_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:auto;
	margin-top:80px;
}
.top_header .logo a{
    color:#ff6a6d;
    font-weight: 600;
    font-size: 32px;
	line-height:40px;
}
.top_header  nav.right_nav ul{
    display: flex;
    font-size: 18px;
    line-height: 36px;
    color:#1c2056;
}
.top_header  nav.right_nav ul li{
    margin-right: 20px;
}
.top_header  nav.right_nav ul li.active{
    color:#ff6a6d;
    font-weight: 600;
}
.top_header  nav.right_nav ul li a{
    color:inherit;
}
.top_header  nav.right_nav ul li a:hover{
    color:#ff6a6d;
    transition: all 300ms ease-in-out;
}
.top_header  nav.right_nav ul li a.top-header_button{
    background:#ff6a6d;
    color:#fff;
    box-shadow: 1px 8px 54px rgba(255,0,5,0.19);
    border-radius: 50px;
    margin-left: 40px;
	padding:2px 30px;
}
.top_header  nav.right_nav ul li a.top-header_button:hover,
.page_heading_button1:hover,
.top-footer_button2:hover{
    background:#f63f42;
}
/* header burger*/
.header_burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color:#3b3838;
    position: absolute;
    left:0;
}
.burger_line_first{
    top:0;
}
.burger_line_second{
    top:50%;
    transform: translateY(-50%);
}
.burger_line_third{
    bottom: 0;
}
/* Page heading*/
.page_heading{
    min-height: 100vh;
    background: url(img/header-bg.png)no-repeat center;
    background-size:cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
.page_heading-title{
	max-width: 550px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color:#3b3838;
	margin:40px 0;
}
.page_heading-subtitle{
	max-width: 500px;
    font-size: 20px;
	line-height:40px;
	font-family: 'Gotu', sans-serif;
	color:#5281ce;
}
.page_heading_button{
	display:flex;
	align-items:center;
	margin-top:40px;
}
.page_heading_button1{
	background:#ff6a6d;
    color:#fff;
    box-shadow: 1px 8px 54px rgba(255,0,5,0.19);
    text-align: center;
    padding: 10px 40px;
    border-radius: 50px;
}
.page_heading_button2{
	background:transparent;
    color:#ff6a6d;
    border: 1px solid #ff6a6d;
    text-align: center;
    padding: 10px 40px;
    border-radius: 50px;
}
.page_heading_button2:hover{
	background:#fff;
    color:#ff6a6d;
}
/* choose_beryoga */
.choose_beryoga{
	display:flex;
	align-items:center;
	flex-direction:column;
}
.choose_beryoga h3{
	font-size:46px;
	line-height:60px;
	font-weight:600;
	color:#3b3838;
}
.choose_beryoga p{
	text-align:center;
	font-family: 'Gotu', sans-serif;
	color:#5281ce;
	margin:40px 0 70px 0;
}
.choose_beryoga_items{
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.choose_beryoga_item {
	display:flex;
	align-items:center;
	flex-direction:column;
}
.choose_beryoga_item h5{
	font-size:24px;
	font-weight:bold;
	color:#3b3838;
}
.choose_beryoga_item p{
	font-size:18px;
	font-weight:300;
	color:#6b6969;
	padding:0 10px;
}
/* what_beryoga */
.what_beryoga{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:100px;
}
.what_beryoga_img{
	width:50%;
}
.what_beryoga_img img{
	width:100%;
}
.what_beryoga_info{
	display:flex;
	flex-direction:column;
	width:50%;
}
.what_beryoga_info h3{
	font-size:42px;
	line-height:50px;
	font-weight:600;
	color:#3b3838;
	margin-bottom:40px;
}
.what_beryoga_info h6{
	font-size:20px;
	font-weight:bold;
	color:#3b3838;
}
.what_beryoga_info p{
	font-family: 'Gotu', sans-serif;
	margin:10px 0;
}
.what_beryoga_check .fa-check{color:#f06070;}
/* power_beryoga */
.power_beryoga{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:100px;
}
.power_beryoga_img{
	width:50%;
}
.power_beryoga_img img{
	width:100%;
}
.power_beryoga_info{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:50%;
	margin-left:100px;
}
.power_beryoga_info h3{
	font-size:42px;
	line-height:50px;
	font-weight:600;
	color:#3b3838;
	margin-bottom:40px;
}
.power_beryogaa_info p{
	font-family: 'Gotu', sans-serif;
}
.power_beryoga_info p.italic{
	font-style:italic;
	margin-bottom:20px;
}
.power_beryoga_info a.italic_blue{
	font-style:italic;
	color:#5281ce;
	margin:20px 0;
}
.power_beryoga_info a.italic_blue:hover{
	text-decoration:underline;
	cursor:pointer;
}
#more {display: none;}
/* make_beryoga */
.make_beryoga{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:100px;
}
.make_beryoga_img{
	width:50%;
}
.make_beryoga_img img{
	width:100%;
}
.make_beryoga_info{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:50%;
	margin-left:100px;
}
.make_beryoga_info h3{
	font-size:42px;
	font-weight:600;
	color:#3b3838;
	margin-bottom:40px;
	line-height:50px;
}
.make_beryoga_info p{
	font-family: 'Gotu', sans-serif;
	margin:10px 0;
}
.make_beryoga_info a.italic_blue{
	font-style:italic;
	color:#5281ce;
}
.make_beryoga_info a.italic_blue:hover{
	text-decoration:underline;
	cursor:pointer;
}

/* footer */
footer{
	background: url(img/footer-bg.png) center no-repeat;
	min-height:1100px;
	margin-top:200px;
	width:100%;
}
.top_footer{
	display:flex;
	align-items:center;
	justify-content:center;
	width:90%;
}
.top_footer .column{
	display:flex;
	justify-content:center;
	background:#fff;
	border-radius:25px;
	box-shadow: 1px 8px 54px rgba(255,0,5,0.19);
	flex-basis:25%;
}
.top_footer .column p.center{
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	background:#ff6a6d;
	text-align:center;
	padding:20px 0;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}
.top_footer .column li{
	padding:20px;
}
.top_footer .column .fa-check{
	color:#fff;
	background:#ff6a6d;
	border-radius:30px;
	width:30px;
	height:30px;
	text-align:center;
}
.top_footer .column li.price{
	font-size:50px;
	line-height:60px;
	text-align:center;
}
.top_footer .column li.sale{
	color:#5281ce;
	text-align:center;
}
.top-footer_button2{
	background:#ff6a6d;
    color:#fff;
    box-shadow: 1px 8px 54px rgba(255,0,5,0.19);
    text-align: center;
    padding: 4px 30px;
    border-radius: 50px;
}
.top-footer_button1{
	background:#6cd6f7;
    color:#fff;
    box-shadow: 1px 21px 24px rgba(95,206,244,0.29);
    text-align: center;
    padding: 4px 30px;
    border-radius: 50px;
}
.top-footer_button1:hover{
	background:#fff;
    color:#6cd6f7;
}
/* center_footer */
.center_footer{
	display:flex;
	justify-content:center;
	width:90%;
	height:auto;
	margin-top:100px;
}
.center_footer_menu{
	display:flex;
	flex-direction:column;
	flex-basis:25%;
	text-align:center;
}
.center_footer_menu p.menu_caption{
	font-weight:600;
	margin-bottom:10px;
	text-transform:uppercase;
}
.center_footer_menu a{
	font-family: 'Gotu', sans-serif;
	color:#5281ce;
}
.center_footer_menu a:hover{
	text-decoration:underline;
}
/**************** АДАПТИВ *********************/

/****************   Смартфон 3.5*****************************/
@media (max-width:320px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	
	.page_heading_button1{
    padding: 10px 30px;
	}
	.page_heading_button2{
    padding: 10px 30px;
	}
	.choose_beryoga{
	margin-top:40px;
	}
	.choose_beryoga h3{
	line-height:60px;
	}
	.choose_beryoga p{
	margin:40px 0 70px 0;
	}
	.choose_beryoga_items{
	display:flex;
	flex-direction:column;
	}
	.what_beryoga{
	display:flex;
	flex-direction:column;
	margin-top:100px;
	}
	.what_beryoga_img{
	width:80%;
	}
	.what_beryoga_info{
	width:80%;
	}
	.power_beryoga{
	display:flex;
	flex-direction:column;
	margin-right:50px;
	}
	.power_beryoga_img{
	width:80%;
	}
	.power_beryoga_info{
	width:80%;
	}
	.make_beryoga{
	display:flex;
	flex-direction:column;
	margin-left:-50px;
	}
	.make_beryoga_img{
	width:80%;
	}
	.make_beryoga_info{
	width:80%;
	}
	.make_beryoga_info p{
	margin-right:90px;
	}
	.top_footer{
	flex-direction:column;
	}
	.center_footer{
	flex-wrap:wrap;
	}
	.center_footer_menu{
	flex-basis:40%;
	}
}
/****************   Смартфон 5.5*****************************/
@media (max-width:480px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.wrapper{
    max-width: 440px;
    margin: 0 auto;
    padding: 0 15px;
	}
	.wrapper-full{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
	}
	.page_heading{
    min-height: auto;
	margin-bottom:100px;
	}
	.choose_beryoga{
	width:80%;
	}
	.choose_beryoga h3{
	line-height:1.2;
	}
	.choose_beryoga_items{
	display:flex;
	flex-direction:column;
	}
	.what_beryoga{
	display:flex;
	flex-direction:column;
	margin-top:100px;
	width:80%;
	}
	.what_beryoga_img{
	width:100%;
	}
	.what_beryoga_info{
	width:100%;
	}
	.power_beryoga{
	display:flex;
	flex-direction:column;
	margin-top:100px;
	margin-left:-20px;
	width:80%;
	}
	.power_beryoga_img{
	width:80%;
	}
	.power_beryoga_info{
	width:80%;
	}
	.make_beryoga{
	display:flex;
	flex-direction:column;
	width:80%;
	margin-left:-40px;
	width:80%;
	}
	footer{
	background:#fff;
	min-height:auto;
	width:80%;
	}
	.top_footer{
	display:flex;
	flex-direction:column;
	margin-left:60px;
	}
	.top_footer .column{
	width:90%;
	margin-bottom:40px;
	}
	.top-footer_button2{
	font-size:8px;
	}
	.top-footer_button1{
	font-size:10px;
	}
	.center_footer{
	display:flex;
	flex-direction:column;
	height:auto;
	width:80%;
	margin-left:70px;
	}
	.center_footer{
	flex-wrap:wrap;
	}
	.center_footer_menu{
	flex-basis:40%;
	}
}
@media(max-width:500px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.wrapper{
    max-width: 440px;
    margin: 0 auto;
    padding: 0 15px;
	}
	.wrapper-full{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
	}
	.page_heading{
    min-height: auto;
	margin-bottom:100px;
	}
	.choose_beryoga{
	width:80%;
	}
	.choose_beryoga h3{
	line-height:1.2;
	}
	.choose_beryoga_items{
	display:flex;
	flex-direction:column;
	}
	.what_beryoga{
	display:flex;
	flex-direction:column;
	margin-top:100px;
	width:80%;
	}
	.what_beryoga_img{
	width:100%;
	}
	.what_beryoga_info{
	width:100%;
	}
	.power_beryoga{
	display:flex;
	flex-direction:column;
	margin-top:100px;
	margin-left:-20px;
	width:80%;
	}
	.power_beryoga_img{
	width:80%;
	}
	.power_beryoga_info{
	width:80%;
	}
	.make_beryoga{
	display:flex;
	flex-direction:column;
	width:80%;
	margin-left:-40px;
	width:80%;
	}
	footer{
	background:#fff;
	min-height:auto;
	width:80%;
	}
	.top_footer{
	display:flex;
	flex-direction:column;
	margin-left:20px;
	}
	.top_footer .column{
	margin-bottom:40px;
	}
	.top-footer_button2{
    font-size:10px;
	margin-left:40px;
	}
	.top-footer_button1{
	font-size:10px;
	margin-left:40px;
	}
	.center_footer{
	flex-wrap:wrap;
	}
	.center_footer_menu{
	flex-basis:40%;
	}
}
@media (max-width:600px){
	.choose_beryoga_items{
	display:flex;
	flex-wrap:wrap;
	}
	footer{
	background:#fff;
	}
	.top_footer{
	display:flex;
	flex-wrap:wrap;
	width:90%;
	}
	.center_footer{
	flex-wrap:wrap;
	}
	.center_footer_menu{
	flex-basis:50%;
	}
}
@media (max-width:700px){
	/* burger*/
	.header_burger{
        display: block;
    }
    .right_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#6cd6f7;
        z-index: 10;
        padding: 20px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
	.right_nav ul{
		display:flex;
		flex-direction:column;
	}
    .right_nav_active{
        transform: translateX(0);
    }
    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item:last-child{
        margin-bottom: 0;
    }
    .header_link{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20px;
        right: 50px;
        z-index: 11;
    }
    .header_nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top:50%;
    }
    .header_nav-close-line:first-child{
        transform: translateY(-50%)rotate(45deg);
    }
    .header_nav-close-line:last-child{
        transform: translateY(-50%)rotate(-45deg);
    }
	/* end burger */
	.choose_beryoga_items{
	display:flex;
	flex-wrap:wrap;
	}
	footer{
	background:#fff;
	}
	.top_footer{
	display:flex;
	flex-wrap:wrap;
	width:90%;
	}
	.center_footer{
	flex-wrap:wrap;
	display:flex;
	}
	.center_footer_menu{
		flex-basis:40%;
	}
	.center_footer{
	margin-top:40px;
	width:90%;
	}
}

/****************   Планшет  *****************************/
@media (max-width:768px){
	footer{
	background:#fff;
	}
	.top_footer{
	flex-wrap:wrap;
	}
	.top_footer .column{
	flex-basis:50%;
	}
	.top_footer .column li.price{
	font-size:40px;
	line-height:56px;
	}
	.top-footer_button2{
	font-size:10px;
	}
	.top-footer_button1{
	font-size:10px;
	}
	.center_footer{
	display:flex;
	width:80%;
	}
	.center_footer_menu{
	margin:20px 10px;
	}
}
/****************   Ноутбук  *****************************/
@media (max-width:992px){
	.top_footer{
	width:80%;
	}
	.top_footer .column{
	width:230px;
	}
	.top_footer .column li.price{
	font-size:40px;
	line-height:56px;
	}
	.top-footer_button2{
	margin-top:20px;
	padding: 4px 2px;
	}
	.top-footer_button1{
	margin-top:20px;
	padding: 4px 2px;
	}
	.center_footer{
	display:flex;
	width:80%;
	}
	.center_footer_menu{
	margin:80px 10px;
	}
}
@media (max-width:1000px){
	.top-footer_button2{
	margin-top:20px;
	padding: 4px 2px;
	}
	.top-footer_button1{
	margin-top:20px;
	padding: 4px 1px;
	}
}
@media (max-width:1117px){
	.top-footer_button2{
	margin-top:20px;
	padding: 4px 2px;
	}
	.top-footer_button1{
	margin-top:20px;
	padding: 4px 1px;
	}
}
@media (max-width:803px){
	footer{
	background:#fff;
	}
	.top_footer{
	flex-wrap:wrap;
	}
	.top_footer .column{
	flex-basis:50%;
	}
	.top_footer .column li.price{
	font-size:40px;
	line-height:56px;
	}
	.top-footer_button2{
	font-size:10px;
	}
	.top-footer_button1{
	font-size:10px;
	}
}